@model Factory.Models.Engineer
<div class="topnav">
  <a id="nav-name-link" href="/"><h1 class="nav-title">Sillystringz Inc.</h1></a>
  <a id="nav-link" href="/">Home</a>
  <a id="nav-link" href="/engineer" class="active">Engineers</a>
  <a id="nav-link" href="/machine">Machines</a>
  <a id="nav-link" href="/machine/create">Add Machine</a>
  <a id="nav-link" href="/engineer/create">Add Engineer</a>
</div>

<h2>Are you sure you want to remove @Model.Name?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

